---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<Layout title="contact">
  <Section bg="bg-black" text="text-rose">
    <SectionHeader>CONTACT INFORMATION</SectionHeader>
    <p>
      Department of Anatomy and Neurobiology, Faculty of Medicine, Kagawa
      University
    </p>
    <p class="m-5">
      <div class="font-bold">Office:</div>
      1750-1, Ikenobe, Miki, Kita, Kagawa 761-0793, Japan
    </p>

    <p class="m-5">
      <div class="font-bold">Lab:</div>

      Tel +81 87-891-2087
    </p>
    <p class="m-5">
      <div class="font-bold">E-mail:</div>
      <div>otabi.hikari()kagawa-u.ac.jp</div>
      <div>(Please add "@" in rounded bracket)</div>
    </p>
  </Section>
</Layout>
