---
import SectionHeader from "../components/SectionHeader.astro";
---

<SectionHeader>ABOUT ME</SectionHeader>
<div class="md:grid md:grid-cols-2">
  <div>
    <p class="m-5">
      I have been interested in the nest-building behavior and the underlying
      brain functions in mice. Nest building is an instinctive behavior that
      animals and insects can do without learning how to build a nest. Even
      humans can arrange their dwellings. It is a very important behavior for
      animals and insects to build nests in various situations such as sleep,
      nurturing, temperature regulation, defense from enemies, and courtship.
    </p>

    <p class="m-5">
      I am also interested in how motivation is restored from a depressed state.
      When people are stressed, they can regain their motivation even if they
      are depressed. If this recovery mechanism can be elucidated, it may be
      possible to prevent the onset of depression. Furthermore, symptoms of
      depression vary from person to person, and there are patients for whom
      existing drugs are ineffective. Therefore, it is necessary to develop
      drugs with a different type of mechanism from existing drugs.
    </p>

    <p class="m-5">
      Recently, we discovered that deficit of nest-building behavior in mice
      after social defeat stress.
    </p>
  </div>
  <div>
    <img src="/mouse_in_nest.webp" class="p-5" />
  </div>
</div>
