---
---

<div
  class="content-center bg-[url('/header_background.webp')] bg-center bg-cover h-48 md:h-64"
>
  <h1 class="text-center text-white italic text-3xl md:text-5xl">
    Hikari Otabi, PhD
  </h1>
  <div class="">
    <img src="/mouse.webp" width="150" class="mx-auto pb-10" />
  </div>
</div>
