---
import Research from "../components/Research.astro";
import SectionHeader from "../components/SectionHeader.astro";

import papers from "../../papers.yaml";
---

<SectionHeader>MY LATEST RESEARCH</SectionHeader>

<div class="md:flex">
  {
    papers.papers
      .map((paper) => {
        if (paper.authors.match(/^Hikari Otabi/)) {
          return (
            <Research
              title={paper.title}
              publisher={paper.publisher}
              date={paper.date}
              href={paper.href}
            />
          );
        }
      })
      .filter((elem) => elem !== undefined)
      .slice(0, 3)
  }
</div>
