---
import MenuButton from "./MenuButton.astro";
---

<nav class="bg-rose h-16">
  <ul class="flex flex-row justify-around h-full max-w-screen-md mx-auto">
    <MenuButton text="Home" href="/" />
    <MenuButton text="About Me" href="/about/" />
    <MenuButton text="Publications" href="/publications/" />
    <MenuButton text="Contact Me" href="/contact/" />
  </ul>
</nav>
